
CalculatorContractsLib/bin/
CalculatorProxyLib/bin/
CalculatorServiceLib/bin/
PipeClient/bin/
ServiceHost/bin/
TcpClient/bin/
CalculatorContractsLib/obj/
CalculatorProxyLib/obj/
CalculatorServiceLib/obj/
PipeClient/obj/
ServiceHost/obj/
TcpClient/obj/