<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="CalculatorServiceLib.CalculatorService">
				<endpoint 
					address="net.tcp://localhost:8009/CalculatorService" 
					binding="netTcpBinding" 
					contract="CalculatorContractsLib.ICalculatorService"/>
				<endpoint
					address="net.pipe://localhost/CalculatorService"
					binding="netNamedPipeBinding"
					contract="CalculatorContractsLib.ICalculatorService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>