<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="DispatchMessageInspector" type="RestService.DispatchMessageInspectorBehaviorElement, RestService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>

		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
					<DispatchMessageInspector/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		
		<services>
			<service name="RestService.RestService">
				<endpoint contract="RestServiceContractsLib.IRestService"
					 binding="webHttpBinding"
					 address="http://localhost:8002/calc"
					 behaviorConfiguration="web"/>
			</service>
		</services>

	</system.serviceModel>
</configuration>